
  
  <style> .gps-512799250313118632 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-512799250313118632 .gp-relative{position:relative}.gps-512799250313118632 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512799250313118632 .gp-mb-0{margin-bottom:0}.gps-512799250313118632 .gp-flex{display:flex}.gps-512799250313118632 .gp-grid{display:grid}.gps-512799250313118632 .\!gp-hidden{display:none!important}.gps-512799250313118632 .gp-hidden{display:none}.gps-512799250313118632 .gp-max-w-full{max-width:100%}.gps-512799250313118632 .gp-flex-col{flex-direction:column}.gps-512799250313118632 .gp-gap-y-0{row-gap:0}.gps-512799250313118632 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512799250313118632 .gp-duration-200{transition-duration:.2s}.gps-512799250313118632 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-512799250313118632 .tablet\:\!gp-hidden{display:none!important}.gps-512799250313118632 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512799250313118632 .mobile\:\!gp-hidden{display:none!important}.gps-512799250313118632 .mobile\:gp-hidden{display:none}}.gps-512799250313118632 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512799250313118632 .\[\&_p\]\:gp-inline p{display:inline}.gps-512799250313118632 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512799250313118632 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gi5aeq1dHE"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi5aeq1dHE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gu28LDcK87 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gLlQJCB0rN"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLlQJCB0rN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwtMMRjCD_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gdKCkddi7Y "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdKCkddi7Y_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gdKCkddi7Y"
      >.gdKCkddi7Y {

}
.gdKCkddi7Y p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-512799250313118632 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/kibsshop/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=512799203940893681&sectionId=512799250313118632)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggdKCkddi7Y_text","label":"ggdKCkddi7Y_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
